@font-face {
  font-family: "iconfont"; /* Project id 4535573 */
  src: url('iconfont.woff2?t=1730795519942') format('woff2'),
       url('iconfont.woff?t=1730795519942') format('woff'),
       url('iconfont.ttf?t=1730795519942') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuaxin:before {
  content: "\ec08";
}

.icon-sanjiaoxing:before {
  content: "\e615";
}

.icon-xiangji:before {
  content: "\e8bc";
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-a-yinsisimibaomi:before {
  content: "\e65a";
}

.icon-youhuiquan:before {
  content: "\e659";
}

.icon-daishouhuo:before {
  content: "\e600";
}

.icon-daifahuo:before {
  content: "\e601";
}

.icon-daipingjia:before {
  content: "\e602";
}

.icon-daifukuan:before {
  content: "\e612";
}

.icon-daituikuan:before {
  content: "\e669";
}

.icon-shanchu:before {
  content: "\e804";
}

.icon-dingweixiao:before {
  content: "\e8ba";
}

.icon-chacha:before {
  content: "\e630";
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-weixin:before {
  content: "\e637";
}

.icon-bianji3:before {
  content: "\e8ad";
}

.icon-kongyemian:before {
  content: "\e658";
}

.icon-dagou:before {
  content: "\e616";
}

.icon-right:before {
  content: "\e840";
}

.icon-left:before {
  content: "\eb10";
}

.icon-waidai:before {
  content: "\e624";
}

.icon-waimai:before {
  content: "\e61b";
}

.icon-diannei:before {
  content: "\e6cf";
}

.icon-ziqu:before {
  content: "\e7bd";
}

.icon-icon_duigouxiao:before {
  content: "\e62b";
}

.icon-dizhiguanli:before {
  content: "\e63f";
}

.icon-shouye1:before {
  content: "\e638";
}

.icon-gouwuchefill:before {
  content: "\e73c";
}

.icon-gouwuche1:before {
  content: "\e73d";
}

.icon-biaoqiankuozhan_shouye-151:before {
  content: "\eb0f";
}

.icon-wode2:before {
  content: "\e69a";
}

.icon-biaoqianA01_wode-75:before {
  content: "\eac2";
}

.icon-fenlei:before {
  content: "\e62f";
}

.icon-chanpinfenlei:before {
  content: "\e645";
}

