 .iconfont {
     font-size: 32rpx;
 }

 .FontBlack {
     color: #000;
 }

 .FontDefault {
     color: #333;
 }

 .FontWhite {
     color: #fff !important;
 }

 .FontBlue {
     color: #23a2ff !important;
 }

 .FontGreen {
     color: #40C659;
 }

 .FontGray {
     color: #999;
 }

 .FontOrange {
     color: #ff831f;
 }

 .FontRed {
     color: #FC4B3B
 }

 .Font3b {
     color: #FC4B3B;
 }

 .Font9b9b9b {
     color: #9b9b9b
 }

 .Font5F5F5F {
     color: #5F5F5F
 }

 .FontDCDDDE {
     color: #DCDDDE;
 }

 .Font666 {
     color: #666;
 }

 .Font6d {
     color: #6D6D6D;
 }

 .FontSize34 {
     font-size: 34rpx;
 }

 .FontSize32 {
     font-size: 32rpx;
 }

 .FontSize36 {
     font-size: 36rpx;
 }

 .FontSize38 {
     font-size: 38rpx;
 }

 .FontSize40 {
     font-size: 40rpx;
 }

 .FontSize42 {
     font-size: 42rpx;
 }

 .FontSize30 {
     font-size: 30rpx;
 }

 .FontSize28 {
     font-size: 28rpx;
 }

 .FontSize26 {
     font-size: 26rpx;
 }

 .FontSize24 {
     font-size: 24rpx;
 }

 .FontSize22 {
     font-size: 22rpx;
 }

 .FontSize20 {
     font-size: 20rpx;
 }

 .FontWeight {
     font-weight: 600;
 }

 .Pointer {
     cursor: pointer;
 }

 .Move {
     cursor: move;
 }

 .FlexGrow {
     flex-grow: 1;
 }

 .FlexColumn {
     display: flex;
     flex-flow: column nowrap;
 }

 .FlexRow {
     display: flex;
     flex-flow: row nowrap;
 }

 .FlexCenter {
     align-items: center;
     justify-content: center;
 }

 .FlexACenter {
     align-items: center;
 }

 .FlexJCenter {
     justify-content: center;
 }

 .FlexShrink {
     flex-shrink: 0;
 }

 .ContainerPage {
     width: 100%;
     height: 100%;
     display: flex;
     flex-flow: column nowrap;
     flex-grow: 1;
     margin-bottom: constant(safe-area-inset-bottom);
     margin-bottom: env(safe-area-inset-bottom);
     position: relative;
     align-items: center;
     background-color: #f0f0f0;
 }

 .PageCenter {
     width: 710rpx;
     margin: 0rpx auto;
     box-sizing: border-box;
 }

 .AddCartAnimations {
     position: absolute;
     top: 0rpx;
 }
 .PageNull {
    flex-grow: 1;
    min-height: 500rpx;

    .PageNullContent {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        margin-top: 140rpx;
    }

    .PageNullIcon {
        font-size: 200rpx;
        color: #9b9b9b;
    }

    .PageNullText {
        position: absolute;
        font-size: 28rpx;
        color: #787878;
        top: 300rpx;
    }
}